$Button_Colors:(
    "gold":#F2CA67,
    "grey":#E1E4EA,
    "yellow":#FFD814,
    "darkYellow":#F3A847,
    "darkWhite":#DADADA
);

$Text_Colors:(
    "gold":#F2CA67,
    "grey":#767676,
    "blue"  :  #0066C0,
    "orange":#f08804,
    "red":#B12704
);
$Bar_Colors:(
    "navy":#131921
);

$Card_Outline:(
"light-grey":#d5dbdb,

);

$Quantity_Bg:(
"light-grey":#E3E6E6,
);

$Input_Border:(
    "grey":#a6a6a6
)